<h3>CONTACTENOS</h3>
                <div class="form-group nom">
                    <label class="col-form-label mt-4" for="inputDefault">Nombres y Apellidos</label>
                    <input  autocomplete="off" 
                    type="text" class="form-control nom" id="inputDefault1" 
                    placeholder="Ingrese su nombre completo" name="nombre"
                    >
                </div>
    
                <div class="form-group dir1">

                    <label class="col-form-label mt-4" for="inputDefault">Direccion de domicilio</label>
                
                </div>
                <div class="form-group dire">
                    
                    <div id="map"></div>
                
                    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
                    <script async
                        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAp6pZ5HV8a9pGTFX7Qatn3L3LHij8nEbs&callback=initMap">
                    </script>

                </div>
                <div class="form-group tel">
                    <label class="col-form-label mt-4" for="inputDefault">Telefono</label>
                    <input  autocomplete="off" 
                    type="text" class="form-control nom" id="inputDefault2" 
                    placeholder="Ingrese su nombre completo" name="nombre"
                    >
                </div>