<form id="cont3">
    <fieldset id="cont4">
    <div class="form-group  cf">
        <label class="col-sm-2 col-form-label fecha mt-4">Fecha de nacimiento</label>
        <input type="date">
    </div>
    <div class="form-group lugar">
        <label class="col-form-label mt-4" for="inputDefault">Lugar de origen</label>
    
                    <select class="dropdown-menuProv" name="provincias" value="provincias"  id="dropProv" >

                    </select>


    </div>

    <div class="form-group correo">
        <label for="exampleInputEmail1" class="form-label mt-4">Correo Electronico</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ingrese su correo">
        <small id="emailHelp" class="form-text text-muted">Ejemplo: email@dominio.com</small>
    </div>
    <div class="form-group mensaje">
        <label for="exampleTextarea" class="form-label mt-4">Mensaje</label>
        <textarea class="form-control" placeholder="Envienos un mensaje" id="exampleTextarea" rows="3"></textarea>
    </div>
    </fieldset>
</form>