#cont1,
#cont2 {
  margin: 50px 50px;
}
#cont1 {
  background-color: aqua;
}
#cont2 {
  background-color: brown;
}
.fecha {
  width: auto;
}

.en {
  position: absolute;
  left: 79%;
  width: 10rem;
}

.tel {
  margin: -10px 0 0 0;
}

.cf {
  background-color: dodgerblue;
  margin-top: 40px;
}

.lugar {
  background-color: fuchsia;
}

.correo {
  background-color: gold;
}
.mensaje {
  background-color: greenyellow;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#map{
    height: 400px;
    width: 300px;
}
.custom-map-control-button {
  background-color: #fff;
  border: 0;
  border-radius: 2px;
  box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
  margin: 10px;
  padding: 0 0.5em;
  font: 400 18px Roboto, Arial, sans-serif;
  overflow: hidden;
  height: 400px;
  cursor: pointer;
}
.custom-map-control-button:hover {
  background: #ebebeb;
}